/*rrcnlas 
	 resume
*/

html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit;}

html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}

html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
.light-grey,.hover-light-grey:hover,.light-gray,/* light gray light grey */
.hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}

.gray,.hover-gray:hover{color:#000!important;background-color:#71737D!important}

.content{max-width:980px;margin:auto}rest{overflow:hidden}

.margin{margin:16px!important}
.margin-top{margin-top:16px!important}.margin-bottom{margin-bottom:16px!important}

.container:after,.container:before,.panel:after,.panel:before,.row:after, /*container row-padding*/

.row:before,.row-padding:after,.row-padding:before,

.cell-row:before,.cell-row:after,.clear:after,

.clear:before,.bar:before,.bar:after{content:"";display:table;clear:both}

.row-padding, .row-padding>.half, .row-padding>.third, /*row-padding*/
.row-padding>.twothird, .row-padding>.threequarter,
.row-padding>.quarter, .row-padding>.col {padding: 0 8px;}


.white,.hover-white:hover{color:#000!important;background-color:#fff!important} /*white*/

.text-grey,.hover-text-grey:hover,.text-gray, /*text-grey*/

.hover-text-gray:hover{color:#606060!important}

.card,.card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}/*card-4*/
.card-4,.hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}

.display-container:hover .display-hover{display:block}.display-container:hover span /*display-container*/
.display-hover{display:inline-block}.display-hover{display:none}

.tooltip,.display-container{position:relative}.tooltip /*display-container*/

.text{display:none}.tooltip:hover .text{display:inline-block}

.display-bottomleft{position:absolute;left:0;bottom:0}
.display-bottomright{position:absolute;right:0;bottom:0}

.container,.panel{padding:0.01em 16px}.panel{margin-top:16px;margin-bottom:16px} /*container*/

.text-black,.hover-text-black:hover{color:#000!important}

.text-white,.hover-text-white:hover{color:#fff!important}

.tiny{font-size:10px!important}.small{font-size:12px!important} /*large small*/

.medium{font-size:15px!important}.large{font-size:18px!important}

.teal,.hover-teal:hover{color:#fff!important;background-color:#009688!important}
.pink,.hover-pink:hover{color:#000000!important;background-color:#3578E5!important}

.black,.hover-black:hover{color:#000000!important;background-color:#000000!important}

.margin-left{margin-left:16px!important}.margin-right{margin-right:16px!important} /*margin-right*/

.text-teal,.hover-text-teal:hover{color:#009688!important}

.round-small{border-radius:2px}.round,.round-medium{border-radius:4px}/*round-xlarge*/
.round-large{border-radius:8px}
.round-xlarge{border-radius:16px}.round-xxlarge{border-radius:32px}

.left-align{text-align:left!important}.right-align{text-align:right!important}/*center*/
.justify{text-align:justify!important}.center{text-align:center!important}

.bar-block.center .bar-item{text-align:center}.block{display:block;width:100%}
.bar{width:100%;overflow:hidden}.center .bar{display:inline-block;width:auto}


.col,.half,.third,.twothird,.threequarter,.quarter{float:right;width:100%} /*twothird*/


@media (min-width:601px){.col.m1{width:8.33333%}.col.m2{width:16.66666%}.col.m3,.quarter{width:24.99999%}.col.m4,.third{width:33.33333%}
.col.m5{width:41.66666%}.col.m6,.half{width:49.99999%}.col.m7{width:58.33333%}.col.m8,.twothird{width:66.66666%}
.col.m9,.threequarter{width:74.99999%}.col.m10{width:83.33333%}.col.m11{width:91.66666%}.col.m12{width:99.99999%}}


.padding-40{padding-top:35px!important;padding-bottom:10px!important}
.padding-20{padding-top:20px!important;padding-bottom:10px!important}
.padding-10{padding-top:10px!important;padding-bottom:10px!important}

.xlarge{font-size:24px!important}.xxlarge{font-size:36px!important}
.xxxlarge{font-size:48px!important}.jumbo{font-size:64px!important}


.opacity,.hover-opacity:hover{opacity:0.60}.opacity-off, /*opacity*/
.hover-opacity-off:hover{opacity:1}
.opacity-max{opacity:0.25}.opacity-min{opacity:0.75}


.badge,.tag{background-color:#000;color:#fff;display:inline-block; /*tag*/
	padding-left:8px;padding-right:8px;text-align:center}.badge{border-radius:50%}

h1{font-size:36px}h2{font-size:20px;color:#e91e63!important}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.wide{letter-spacing:4px}

.name{}

.text-light-blue,.hover-text-light-blue:hover{color:#87CEEB!important}

.text-pink,.hover-text-pink:hover{color:#e91e63!important}

.text-light-blue,.hover-text-light-blue:hover {
	color:#87CEEB!important;
}

.text-pink,.hover-text-pink:hover {
	color:#2ea3f2 !important;
}

.text-orange,.hover-text-orange:hover {
	color:#fd6a02 !important;
}

.text-yellow,.hover-text-yellow:hover {
	color:#f0db4f !important;
}

.text-navyblue,.hover-text-navyblue:hover {
	color:#21759c !important;
}

.text-purple,.hover-text-purple:hover {
	color:#3c327b !important;
}

.text-black,.hover-text-black:hover {
	color:#000 !important;
}

.text-red,.hover-text-red:hover {
	color:#FF0000 !important;

}

/* unvisited link cursor: pointer;*/
a:link {
  color: white;
  text-decoration: none!important;
}

/* visited link */
a:visited {
  color: white;
  background: #2ea3f2;
}

/* mouse over link */
a:hover { 
  opacity:0.60 !important;
}

/* selected link */
a:active {
  color: gray;
}

.margin-bottom{margin-bottom:16px!important}

.large{font-size:18px!important}

.text-light-blue,.hover-text-light-blue:hover{color:#87CEEB!important}

.round-xlarge{border-radius:16px}

.square-xlarge{border-radius:1px}

.small{font-size:12px!important}

.center .bar{display:inline-block;width:auto}

.center .bar-item{text-align:center}

.center{text-align:center!important}

.xxlarge{font-size:36px!important}

.padding-24{padding-top:24px!important;padding-bottom:24px!important}

.opacity,.hover-opacity:hover{opacity:0.60}.opacity-off,.hover-opacity-off:hover{opacity:1}

.opacity-max{opacity:0.25}.opacity-min{opacity:0.75}

@media (min-width:601px){
	.border2{width:33.33333%
	}
}

.display-bottomright{position:absolute;right:0;bottom:0}

.i-suitcase {
	color: cornflowerblue;
}

/*container:after,container:before,panel:after,
panel:before,row:after,row:before,row-padding:after,row-padding:before,
cell-row:before,cell-row:after,clear:after,clear:before,
bar:before,bar:after{content:"";display:table;clear:both}


row-padding,row-padding>half,row-padding>third,row-padding>twothird,
row-padding>threequarter,row-padding>quarter,row-padding>col{padding:0 8px}

col,half,third,twothird,threequarter,quarter{float:left;width:100%}*/




